body{
    scroll-behavior: smooth;
}
.myBG {
    height: 100vh;
    background: url("../assets/images/bg/main.jpg");
    background-size: cover;
  }
  
  .intro {
    height: 300px;
    display: flex;
    justify-content: end;
    align-items: end;
  }
  
  .title {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1;
    text-shadow: 2px 2px black;
    letter-spacing: 4px;
  }
  
  .trending {
    height: auto;
    background: url("../assets/images/bg/scifi.jpg");
    background-size: cover;
  }
  
  .superhero {
    height: auto;
    background: url("../assets/images/bg/spiderman.jpg");
    background-size: cover;
  }
  
  .movieImage {
    height: auto;
    background-color: black;
    margin: 5px;
    padding: 5px;
    transition: all  ease-out 0.3s;
  }

  .movieImage:hover{
    box-shadow: -5px -1px 47px 0px rgba(71,216,235,0.74);
    -webkit-box-shadow: -5px -1px 47px 0px rgba(71,216,235,0.74);
    -moz-box-shadow: -5px -1px 47px 0px rgba(71,216,235,0.74);
    padding: 5px;
    margin-top: -5px;
  }


  
  .images {
    height: 500px;
  }